user  {{ nginx_user }};
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};
worker_priority {{ nginx_worker_priority }};

error_log  {{ nginx_error_log }};
pid        {{ nginx_pidfile }};

worker_processes  {{ nginx_worker_processes }};

events {
    worker_connections  {{ nginx_worker_connections }};
    multi_accept {{ nginx_multi_accept }};
    use epoll; # you should use epoll here for Linux kernels 2.6.x
}

{% if nginx_extra_conf_options %}
{{ nginx_extra_conf_options }}
{% endif %}

http {
    include       {{ nginx_mime_file_path }};
    default_type  application/octet-stream;

    server_names_hash_max_size {{ nginx_server_names_hash_max_size }};
    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};
    server_name_in_redirect {{ nginx_server_name_in_redirect }};

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx_access_log }};

    sendfile        {{ nginx_sendfile }};
    tcp_nopush      {{ nginx_tcp_nopush }};
    tcp_nodelay     {{ nginx_tcp_nodelay }};

    keepalive_timeout  {{ nginx_keepalive_timeout }};
    keepalive_requests {{ nginx_keepalive_requests }};
    send_timeout       {{ nginx_send_timeout }};
    reset_timedout_connection   {{ nginx_reset_timedout_connection }};
    ignore_invalid_headers  {{ nginx_ignore_invalid_headers }};

    client_header_timeout {{ nginx_client_header_timeout }};
    client_body_timeout {{ nginx_client_body_timeout }};
    client_header_buffer_size {{ nginx_client_header_buffer_size }};
    client_max_body_size {{ nginx_client_max_body_size }};
    client_body_in_file_only {{ nginx_client_body_in_file_only }};
    large_client_header_buffers {{ nginx_large_client_header_buffers }};

    connection_pool_size  {{ nginx_connection_pool_size }};
    request_pool_size  {{ nginx_request_pool_size }};
    output_buffers {{ nginx_output_buffers }};
    postpone_output {{ nginx_postpone_output }};

    proxy_buffer_size {{ nginx_proxy_buffer_size }};
    proxy_buffers {{ nginx_proxy_buffers }};
    proxy_busy_buffers_size {{ nginx_proxy_busy_buffers_size }};

    proxy_connect_timeout       300;
    proxy_send_timeout          300;
    proxy_read_timeout          600;
    proxy_buffering on;


{% if nginx_proxy_cache_path %}
    proxy_cache_path {{ nginx_proxy_cache_path }};
{% endif %}
{% if nginx_proxy_cache_path %}
    proxy_temp_path {{ nginx_proxy_temp_path }};
{% endif %}

{% if nginx_extra_http_options %}
    {{ nginx_extra_http_options }}
{% endif %}

{% for upstream in nginx_upstreams %}
    upstream {{ upstream.name }} {
{% if upstream.strategy is defined %}
        {{ upstream.strategy }};
{% endif %}
{% for server in upstream.servers %}
        server {{ server }};
{% endfor %}
    }
{% endfor %}

    include {{ nginx_conf_path }}/*.inc;
{% if nginx_conf_path != nginx_vhost_path %}
    include {{ nginx_vhost_path }}/*.cfg;
{% endif %}
}
